{{#each messages}}
  <p class="message">
    <span class="chat_message_mail">{{this.mail}}</span>
    (<span class="chat_message_date">{{this.date}}</span>):
    <span class="chat_message_message">{{this.message}}</span>
  </p>
{{/each}}